.app {
    display: flex;
    height: 100%;
}

.flex-container-1 {
    flex: 10;
    padding: 20px;
    margin: 10px;
}

.flex-container-2 {
    flex: 2;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 30px;
    background-color: #eaeaea;
}

.titles {
    text-align: center;
    font-size: 2em;
    margin: 30px 0;
    margin-top: 50px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    flex: 1;
    width: 45%;
    height: auto;
    margin: 10px;
    max-width: 45%;
}

.anchor {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.anchor:hover {
    color: #fec820;
}

@media (max-width: 500px) {
    .app {
        flex-direction: column;
    }

    .flex-container-2 {
        display: none;
    }
    
    .image-item {
        width: 80vw;
    }
}

.alingText {
    text-align: justify;
    text-justify: inter-word;
}